:root[theme='light']{
    --bg-color: #efefef;

/*    .el-button--success {
        --el-button-text-color: red;
        --el-button-bg-color: red;
        --el-button-border-color: red;
        --el-button-outline-color: red;
        --el-button-active-color: red;
        --el-button-hover-text-color: red;
        --el-button-hover-link-text-color: red;
        --el-button-hover-bg-color: red;
        --el-button-hover-border-color: red;
        --el-button-active-bg-color: red;
        --el-button-active-border-color: red;
        --el-button-disabled-text-color: red;
        --el-button-disabled-bg-color: red;
        --el-button-disabled-border-color: red;
    }
    */

}


